apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-green
  labels:
    app: portfolio
    version: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
      version: green
  template:
    metadata:
      labels:
        app: portfolio
        version: green
    spec:
      containers:
        - name: portfolio
          image: vms500/murali-portfolio:1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
